@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Application</h1>
    <p class="lead">This application will control all of the customers/general publics interaction with the system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use the links at the top of the page to access the different parts of the application, depending on what you need.
        </p>
    </div>
</div>